$action_color: orange;
$background: #ffffff;
$bot_message_background: #fff;
$bot_message_text: #5D6166;;
$human_message_background: $botkit_purple;
$human_message_text: white;

#message_window {
  background: $background;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  font-family: 'Montserrat', sans-serif;

  .disconnected {
    background: #ffffcc;
    padding: 0.25rem;
  }
  &.connected .disconnected {
    display: none;
  }
  .offline {
    display: none;
  }
  &.offline {
    .disconnected {
      display: none;
    }
    .offline {
      background: #ff0000;
      color: #fff;
      padding: 0.25rem;
      display: block;
    }
  }

  .powered_by {
    flex-shrink: 0;
    text-align: center;
    display: flex;
    padding: 0.5rem;
    color: #000;
    box-shadow: 0px 1px 10px 2px #e6e6e6;
    z-index: 1;
    .assistant {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      margin-left: 20px;
      .first {
        font-size: 13px;
        font-weight: 300;
        margin: auto;
        margin-bottom: 0;
      }
      .second {
        font-size: 22px;
        font-weight: bold;
        margin: auto 0;
      }
    }
    .emi {
      margin: auto;
      margin-right: 8px;
      img {
        width: 64px;
        height: 64px;
      }
    }
    a {
      text-decoration: none;
      color: #666;
    }
  }

  section {
    flex-grow: 1;
    flex-direction: column-reverse;
    display: flex;
    overflow-y: auto;
    background: #F4F6F9;
    div div {
      margin: 0.25rem;
      clear: both;
    }

    #message_list {
      padding: 8px 0;
      .message_template {
        display: flex;
        &.outgoing {
          justify-content: flex-end;
        }
        &.message{
          background: none;
          padding: 0;
          max-width: none;
          border: none;
        }
        .avatar {
          display: flex;
          align-items: center;
          img {
            width: 36px;
            height: 36px;
          }
        }
      }
    }
  }

  footer {
    padding: 0.5rem;
    input[type="text"] {
      flex-grow: 1;
      font-size: 16px;
      outline: none;
      border: none;
    }
    button {
      font-size: 16px;
      background: none;
      border: 0;
      cursor: pointer;
      color: $botkit_purple;
      font-weight: bold;
      outline: none
    }
  }

  form {
    display: flex;
    margin: 0;
    padding: 0.25rem;
  }

  #message_template {
    display: none;
  }

  .message {
    font-size: 16px;
    padding: 13px 15px 12px;
    background: $bot_message_background;
    color: $bot_message_text;
    border-radius: 19px;
    width: auto;
    display: inline-block;
    max-width: 80%;
    word-wrap: break-word;
  }

  .file_attachment {
    background: $bot_message_background;
    color: $bot_message_text;
    border-radius: 5px;
    display: inline-block;
    max-width: 75%;

    img {
      max-width: 100%;
      display: block;
    }
  }

  .button_message {
    margin: 1rem 0;
    border-radius: 4px;
    border-color: $action_color;
    border-style: solid;
    color: $action_color;
    border-width: 1px;
    padding: 0.25rem 1rem;
    text-decoration: none;
    text-align: center;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25);
    display: block;
  }

  .message p {
    margin-top: 0;
    margin-bottom: 0.5rem;
    span{
      color: $botkit_purple;
      font-weight: bold;
    }
  }

  .message p:last-child {
    margin-bottom: 0;
  }

  .message.outgoing {
    background: $human_message_background;
    color: $human_message_text;
  }

  #message_replies {
    background: #F4F6F9;
    text-align: center;
    overflow-x: auto;
    flex-shrink: 0;
    -webkit-overflow-scrolling: touch; /* Lets it scroll lazy */

    ul {
      list-style-type: none;
      margin: 0px auto;
      padding: 8px 0;
      li {
        display: inline-block;
        margin: 5px 8px;
        margin-left: 0;
      }
    }

    a {
      text-decoration: none;
      display: block;
      border: 2px solid $botkit_purple;
      background: $background;
      color: $botkit_purple;
      border-radius: 19px;
      padding: 10px 15px 9px;
      font-size: 16px;
      cursor: pointer;

      &:hover {
        background: $botkit_purple;
        color: #fff;
      }
    }
  }
}

/* typing indicator CSS based on code by Joseph Fusco -> https://codepen.io/fusco/pen/XbpaYv */
.typing-indicator {
  display: table;
  margin: 0 auto;
  position: relative;
  span {
    height: 5px;
    width: 5px;
    float: left;
    margin: 0 1px;
    background-color: $bot_message_text;
    display: block;
    border-radius: 50%;
    opacity: 0.4;
    @for $i from 1 through 3 {
      &:nth-of-type(#{$i}) {
        animation: 1s blink infinite ($i * 0.3333s);
      }
    }
  }
}

@keyframes blink {
  50% {
    opacity: 1;
  }
}
