/* shared botkit ui styles */
@font-face {
  font-family: "Montserrat";
  src: url(Montserrat-Regular.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url(Montserrat-Light.ttf) format("truetype");
  font-weight: lighter;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url(Montserrat-Bold.ttf) format("truetype");
  font-weight: bold;
  font-style: normal;
}
* {
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  padding: 0;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
  background-color: #FFF;
  font-family: "Montserrat", sans-serif;
}

.wrapper {
  position: relative;
  max-width: 760px;
  width: 100%;
  display: flex;
  flex: 1;
  margin: auto;
  line-height: 1.3;
}
.wrapper:after {
  content: "";
  display: table;
  clear: both;
}

.box {
  border: 2px solid #CCC;
  padding: 1rem calc(1rem - 2px);
  margin-bottom: 1rem;
}
.box:after {
  content: "";
  display: table;
  clear: both;
}
.box h1,
.box h2,
.box h3 {
  margin-top: 0;
}

footer {
  text-align: center;
}

.hero {
  text-align: center;
  padding: 2rem;
}
.hero h1 {
  font-size: 4rem;
  margin: 0;
}

a {
  color: #EA2061;
}

.copyurl {
  width: 100%;
  font-size: 1.25rem;
}

div.input label {
  font-weight: bold;
  font-size: smaller;
}

.addon {
  display: flex;
  border: 1px solid #999;
  border-radius: 6px;
  padding: 5px;
  background: #F0F0F0;
}
.addon input,
.addon textarea {
  flex-grow: 1;
  border: 0;
  background: transparent;
}
.addon button {
  flex-grow: 0;
  background: transparent;
  border: 1px solid #999;
  border-radius: 6px;
  font-weight: bold;
}
.addon button.textarea {
  align-self: flex-start;
  padding: 0.5rem;
}
.addon button:hover {
  background: #FFF;
  color: #EA2061;
}

div.hr {
  border: 1px dashed #ccc;
  width: 10%;
  margin: 4rem auto;
  height: 1px;
}

a.button {
  border: 2px solid #EA2061;
  font-weight: bold;
  margin: 0;
  border-radius: 3px;
  display: inline-block;
  padding: 0.5rem 2rem;
  text-align: center;
  text-decoration: none;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
  background-color: #FFF;
  transition: box-shadow 0.1s linear;
}
a.button:hover {
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
}

/* chat client */
#message_window {
  background: #ffffff;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  font-family: "Montserrat", sans-serif;
}
#message_window .disconnected {
  background: #ffffcc;
  padding: 0.25rem;
}
#message_window.connected .disconnected {
  display: none;
}
#message_window .offline {
  display: none;
}
#message_window.offline .disconnected {
  display: none;
}
#message_window.offline .offline {
  background: #ff0000;
  color: #fff;
  padding: 0.25rem;
  display: block;
}
#message_window .powered_by {
  flex-shrink: 0;
  text-align: center;
  display: flex;
  padding: 0.5rem;
  color: #000;
  box-shadow: 0px 1px 10px 2px #e6e6e6;
  z-index: 1;
}
#message_window .powered_by .assistant {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 20px;
}
#message_window .powered_by .assistant .first {
  font-size: 13px;
  font-weight: 300;
  margin: auto;
  margin-bottom: 0;
}
#message_window .powered_by .assistant .second {
  font-size: 22px;
  font-weight: bold;
  margin: auto 0;
}
#message_window .powered_by .emi {
  margin: auto;
  margin-right: 8px;
}
#message_window .powered_by .emi img {
  width: 64px;
  height: 64px;
}
#message_window .powered_by a {
  text-decoration: none;
  color: #666;
}
#message_window section {
  flex-grow: 1;
  flex-direction: column-reverse;
  display: flex;
  overflow-y: auto;
  background: #F4F6F9;
}
#message_window section div div {
  margin: 0.25rem;
  clear: both;
}
#message_window section #message_list {
  padding: 8px 0;
}
#message_window section #message_list .message_template {
  display: flex;
}
#message_window section #message_list .message_template.outgoing {
  justify-content: flex-end;
}
#message_window section #message_list .message_template.message {
  background: none;
  padding: 0;
  max-width: none;
  border: none;
}
#message_window section #message_list .message_template .avatar {
  display: flex;
  align-items: center;
}
#message_window section #message_list .message_template .avatar img {
  width: 36px;
  height: 36px;
}
#message_window footer {
  padding: 0.5rem;
}
#message_window footer input[type=text] {
  flex-grow: 1;
  font-size: 16px;
  outline: none;
  border: none;
}
#message_window footer button {
  font-size: 16px;
  background: none;
  border: 0;
  cursor: pointer;
  color: #EA2061;
  font-weight: bold;
  outline: none;
}
#message_window form {
  display: flex;
  margin: 0;
  padding: 0.25rem;
}
#message_window #message_template {
  display: none;
}
#message_window .message {
  font-size: 16px;
  padding: 13px 15px 12px;
  background: #fff;
  color: #5D6166;
  border-radius: 19px;
  width: auto;
  display: inline-block;
  max-width: 80%;
  word-wrap: break-word;
}
#message_window .file_attachment {
  background: #fff;
  color: #5D6166;
  border-radius: 5px;
  display: inline-block;
  max-width: 75%;
}
#message_window .file_attachment img {
  max-width: 100%;
  display: block;
}
#message_window .button_message {
  margin: 1rem 0;
  border-radius: 4px;
  border-color: orange;
  border-style: solid;
  color: orange;
  border-width: 1px;
  padding: 0.25rem 1rem;
  text-decoration: none;
  text-align: center;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25);
  display: block;
}
#message_window .message p {
  margin-top: 0;
  margin-bottom: 0.5rem;
}
#message_window .message p span {
  color: #EA2061;
  font-weight: bold;
}
#message_window .message p:last-child {
  margin-bottom: 0;
}
#message_window .message.outgoing {
  background: #EA2061;
  color: white;
}
#message_window #message_replies {
  background: #F4F6F9;
  text-align: center;
  overflow-x: auto;
  flex-shrink: 0;
  -webkit-overflow-scrolling: touch;
  /* Lets it scroll lazy */
}
#message_window #message_replies ul {
  list-style-type: none;
  margin: 0px auto;
  padding: 8px 0;
}
#message_window #message_replies ul li {
  display: inline-block;
  margin: 5px 8px;
  margin-left: 0;
}
#message_window #message_replies a {
  text-decoration: none;
  display: block;
  border: 2px solid #EA2061;
  background: #ffffff;
  color: #EA2061;
  border-radius: 19px;
  padding: 10px 15px 9px;
  font-size: 16px;
  cursor: pointer;
}
#message_window #message_replies a:hover {
  background: #EA2061;
  color: #fff;
}

/* typing indicator CSS based on code by Joseph Fusco -> https://codepen.io/fusco/pen/XbpaYv */
.typing-indicator {
  display: table;
  margin: 0 auto;
  position: relative;
}
.typing-indicator span {
  height: 5px;
  width: 5px;
  float: left;
  margin: 0 1px;
  background-color: #5D6166;
  display: block;
  border-radius: 50%;
  opacity: 0.4;
}
.typing-indicator span:nth-of-type(1) {
  animation: 1s blink infinite 0.3333s;
}
.typing-indicator span:nth-of-type(2) {
  animation: 1s blink infinite 0.6666s;
}
.typing-indicator span:nth-of-type(3) {
  animation: 1s blink infinite 0.9999s;
}

@keyframes blink {
  50% {
    opacity: 1;
  }
}
/* special styles for homepage */
#home {
  position: relative;
  flex: 1;
}
#home:after {
  content: "";
  display: table;
  clear: both;
}

#homepage_bot {
  width: 100%;
  height: 100%;
}
#homepage_bot iframe {
  border: 0;
  height: 100%;
  width: 100%;
}

#welcome {
  display: none;
}

/*# sourceMappingURL=styles.css.map */
